*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: azure;
}
h1{
    font-size: 50px;
}
.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}
header::before{
    content: "";
    display:block;
    margin-bottom: 80px;
}

nav{
    width: 100%;
    height: 80px;
    background-color: rgb(191, 197, 197);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.enlaces-header {
    font-weight: 300;
    margin: auto;
}

.nav .enlaces-header a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
}

.nav .enlaces-header a:hover{
    color: rgb(239, 245, 245);
    background-color: black;
    border-color: black;
    transition: all ease-in-out .5s;
}

.hamburguer{
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5 s ease-in;
    z-index: 100;
    display: none;
}

.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}

.titulospro{
    text-align: left;
    margin: 20px 0;
}

.contenido-header {
    width: 85%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.contenido-header>img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    animation: ease-in animacion 0.5s;
}

.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header P {
    font-weight: 300;
    margin-top: 14px;
    color: rgb(20, 20, 20);
    text-align: justify;
}

@keyframes animacion {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background-color: black;
    text-align: center;
    color: azure;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgba(97,31,31,.46);
}
/* education */

.section-education{
    background-color: rgb(234, 234, 234);
}

.content-education{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    padding-bottom: 30px;
}

.section-education .title{
    width: 100%;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin: 15px 0;
}

.education{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.education:hover{
    box-shadow: 0px 0px 20px gray;
    transition: all ease-in-out .5s;
}

.education a{
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

.education a:hover{
    color: black;
}

.education i{
    color: #d03d3d;
    font-size: 30px;
    border-radius: 50%;
    border: 3px solid #d03d3d;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    align-items: center;
}

/* certificados*/

.certificados .title{
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.content-certificados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.certificado{
    background: gray;
    border: 1px solid gray;
    border-radius: 5px;
    width: 22%;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.certificado img{
    height: 100px;
    width: auto;
    border-radius: 5px;
}

.certificado a{
    color: rgb(250, 241, 241);
    font-size: 12px;
    text-decoration: none;
}

.certificado a:hover{
    color: #d03d3d;
}

.certificado:hover{
    background-color: #d03d3d;
    color: #fff;
    transition: all ease-in-out .5s;
}

/* footer */

footer{
    background: rgb(70,70,70);
    padding: 50px 0 20px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partfooter{
    width: 22%;
    text-align: center;
}

.partfooter img{
    width: 40%;
}

.partfooter h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #d03d3d;
    border-radius: 5px;
    border: 1px solid #d03d3d;
    padding: 5px;
}

.contact{
    margin: 10px;
    display: block;
    text-align: left;
}

.contact>i {
    float: left;
    margin: 0 0 0 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;
}

.contact > p {
    margin-left: 50px;
    align-items: center;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}

.partfooter > a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}

.partfooter > a:hover {
    background-color: #d03d3d;
    transition: all ease-in-out .6s;
}

.social-media > a > i {
    font-size: 23px;
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 38px;
    line-height: 36px;
    text-align: center;
    margin-right: 5px;
    transition: all ease-in-out .6s;
}

.social-media > a > i:hover{
    background-color: #d03d3d;
    border-color: #d03d3d;
}

/* BREAK POINTS */

@media screen and (max-width:700px){
    .hamburguer {
        display: block;
    }

    .enlaces-header {
        position: fixed;
        background-color: #d03d3d;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        clip-path: circle(0.0% at 0 0);
    }

    .nav .hamburgueropen {
        clip-path: circle(150% at 0 0);
    }

    .nav .enlaces-header a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 20px;
        width: 50%;
        background-color: #cf6c6c;

    }

    .nav .enlaces-header a:hover{
        color: #d03d3d;
        background-color: #fff;
    }
}

